<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quebragalho">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuebraGalho">
        <activity android:name=".FreelancerIndexActivity"></activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".NegotiateServiceActivity" />
        <activity android:name=".FinishServiceActivity" />
        <activity android:name=".ServiceIndexActivity" />
        <activity android:name=".FreelancerHomeActivity" />
        <activity android:name=".CustomerHomeActivity" />
        <activity android:name=".ManageServiceActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>